<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trial license installation</title>
  </head>
  <body
    style="width:100%;margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%"
  >
    <table
      width="100%"
      height="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      align="left"
      valign="top"
    >
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table
              width="600"
              align="center"
              cellpadding="0"
              cellspacing="0"
              border="0"
              valign="top"
            >
              <tbody>
                <tr>
                  <td align="center">
                    <img
                      alt="4D logo"
                      src="https://us.4d.com/sites/all/themes/bactency/logo.png"
                      width="50"
                      height="70"
                      style="display:block;outline:none;border:none;text-decoration:none"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Dear [INSERT NAME HERE],<br /><br /></td>
                </tr>
                <tr>
                  <td>
                    Thank you for your interest in 4D products. Here is your
                    trial license number, installer download links, and
                    production installation instructions.<br /><br />
                  </td>
                </tr>
                <tr>
                  <td>Trial License Number:</td>
                </tr>
                <tr>
                  <td>4DDE17U00USS12SMER<br /><br /></td>
                </tr>
                <tr>
                  <td>Download installer:</td>
                </tr>
                <tr>
                  <td>
                    <button class="ui blue button">Mac</button
                    ><button class="ui blue button">Windows</button><br /><br />
                  </td>
                </tr>
                <tr>
                  <td>Minimum System Requirements:</td>
                </tr>
                <tr>
                  <td>
                    <div
                      style="border:1px solid black;border-radius:3px;padding:0 5px"
                      class="ui segment"
                    >
                      <p>
                        Windows 7 - Windows 10 (64-bit versions) Windows Server
                        2008 R2 - Windows Server 2016<br />(Latest release of
                        major version is required, such as Windows 8.1, not
                        Windows 8)
                      </p>
                      <p>
                        OS X El Capitan 10.11 - macOS High Sierra 10.13<br />(Latest
                        release of major version is required, such as 10.11.6)
                      </p>
                      <p>
                        4GB RAM minimum (8GB or more recommended)<br />1280x1024
                        resolution for development environment
                      </p>
                    </div>
                    <br />
                  </td>
                </tr>
                <tr>
                  <td>Installation and activation:</td>
                </tr>
                <tr>
                  <td>
                    <div
                      style="border:1px solid black;border-radius:3px;padding:0 5px"
                      class="ui segment"
                    >
                      <p>
                        To install 4D, simply launch the installer and follow
                        the instruction on the screen. Once 4D product has been
                        instsalled, follow the steps below to complete 4D
                        product activation for your trial period.
                      </p>
                      <p>To activate your license</p>
                      <ol>
                        <li>Launch 4D</li>
                        <li>Select License Manager from Help menu</li>
                        <li>
                          Sign in using the same account you created for trial
                          download
                        </li>
                        <li>
                          Enter the trial license number and click Next to
                          complete activation
                        </li>
                      </ol>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
